@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.spacer {
    flex: 1;
    }

svg.material-icons {
    height: 24px;
    width: auto;
    }

svg.material-icons:not(:last-child) {
    margin-right: 8px;
    }

.card svg.material-icons path {
    fill: #888;
    }

a:hover {
    color: white;
    }

svg#clouds {
    bottom: -160px;
    left: -230px;
    position: fixed;
    width: 1920px;
    z-index: -10;
    }

/* Responsive Styles */
@media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link),
    .terminal {
        width: 100%;
        }

    .card.highlight-card span {
        margin-left: 72px;
        }
    }

@media screen and (max-width: 575px) {
    }
