<div class="items-center flex flex-wrap border-4 rounded-lg border-dashed border-gray-200 h-96">
    <div class="container max-w-8xl relative mx-auto">
        <div class="items-center flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
                <div class="text-gray-800">
                    <p variant="lead">
                        CRUD app for “booking hours on project”. Go to the <a class="text-sky-600 hover:text-sky-600"
                                                                              routerLink="/bookings"> Bookings
                        page </a> to
                        start adding new bookings or see already saved bookings
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

