&lt;!&ndash; Home page &ndash;&gt;

<input #selection type="hidden"/>

<div class="card-container">
    <button
            (click)="selection.value = 'component'"
            class="card card-small"
            tabindex="0"
    >
        <svg
                class="material-icons"
                height="24"
                viewBox="0 0 24 24"
                width="24"
                xmlns="http://www.w3.org/2000/svg"
        >
            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
        </svg>
        <span>New Component</span>
    </button>

    <button
            (click)="selection.value = 'material'"
            class="card card-small"
            tabindex="0"
    >
        <svg
                class="material-icons"
                height="24"
                viewBox="0 0 24 24"
                width="24"
                xmlns="http://www.w3.org/2000/svg"
        >
            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
        </svg>
        <span>Angular Material</span>
    </button>

    <button
            (click)="selection.value = 'pwa'"
            class="card card-small"
            tabindex="0"
    >
        <svg
                class="material-icons"
                height="24"
                viewBox="0 0 24 24"
                width="24"
                xmlns="http://www.w3.org/2000/svg"
        >
            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
        </svg>
        <span>Add PWA Support</span>
    </button>

    <button
            (click)="selection.value = 'dependency'"
            class="card card-small"
            tabindex="0"
    >
        <svg
                class="material-icons"
                height="24"
                viewBox="0 0 24 24"
                width="24"
                xmlns="http://www.w3.org/2000/svg"
        >
            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
        </svg>
        <span>Add Dependency</span>
    </button>

    <button
            (click)="selection.value = 'test'"
            class="card card-small"
            tabindex="0"
    >
        <svg
                class="material-icons"
                height="24"
                viewBox="0 0 24 24"
                width="24"
                xmlns="http://www.w3.org/2000/svg"
        >
            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
        </svg>
        <span>Run and Watch Tests</span>
    </button>

    <button
            (click)="selection.value = 'build'"
            class="card card-small"
            tabindex="0"
    >
        <svg
                class="material-icons"
                height="24"
                viewBox="0 0 24 24"
                width="24"
                xmlns="http://www.w3.org/2000/svg"
        >
            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
        </svg>
        <span>Build for Production</span>
    </button>
</div>

